<!DOCTYPE html>
<html>

<head>
  <title>Madlibs!</title>
</head>

<body>
  <p>Haha it's so funny when you eat @Model.GetWord("noun1"), especially @Model.GetWord("adj1").ToUpper()
    @Model.GetWord("noun1").
    My @Model.GetWord("noun2") likes to @Model.GetWord("verb1") and @Model.GetWord("verb2"). I think that they are
    @Model.GetWord("adj2").</p>
</body>

<a href="/">Start over<a>

</html>